<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="45.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    ENIGMA PROJECT.
</title>
</head>


<body>
    <h1 class="center" id="titlu">
        ENIGMA
    </h1>

    <h2>Read line by line</h2>
    
    @{
        var date = DateTime.Now.ToShortDateString();
        string message = "Hello World!";
        <text>Today's date is:</text> @date <br />
        @message                               
    }

    
</body>

</html>